@media (max-width: 768px) {
 html{
  font-size: 50%;
 }
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .cards1, .cards2, .cards3, .cards4 {
    grid-column: 1/2; grid-row: auto;
  }
}